html, body {
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: inline-block;
    margin: 0px auto;
    background-color: #fff;
    font-family: Quicksand, sans-serif;
}

html {
    display: table;
}
 
.new{
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

.main-wrapper.survey-wrapper{
  padding-left: 0;
}

.survey-wrapper{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  background-color: #fff;
}

.age-info,
.edu-info{
  margin-top:30px;
}
.edu-info{
  text-align:right;
}

.img-fluid{
 max-width: 120px;
 height:auto;
}

.infotext{
  margin-top: 20px;
}

.text{
  font-family: Quicksand , sans-serif;
  /* color: #838b91; */
  font-size: 18px;
  font-style: normal; 
}

/*new style*/
.instruct-section--eduLevel p{
    margin-bottom: 21px;
}

.instruct-section--ageLevel p{
    margin-bottom: 21px;
}

.instruct-section--copy p.instructions-section--copy__note{
    font-weight: var(--semi-bold-text);
    font-family: 'Open Sans', san-serif;
    font-size:20px;
    line-height:1.3;
    color: var(--ur-black-1);
    padding-top:26px;
}

.select_edu{
    border-radius: 3px;
    width:320px;
    padding:1em;
    background: transparent;
    border: 1px solid #F48024;
    font-size:16px;
}


.bottom-section {
margin-top: 20px;
}

.panel-default{
  border-color: #fff;
}

.panel-body{
  width: 100%;
  padding: 15px 0px;
 
}

.panel-body:not(.two-col) {
    padding: 0px;
}

.panel-body .radio, .panel-body .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-body .list-group {
    margin-bottom: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

/*Button Css*/

#end{
  float: right;
  margin-top: 20px;
}

.back{
  margin-top: 40px;
}

#panel2{
  width: 42%;
  margin-top: 40px;
}
.error{
  color: rgba(225, 102, 107, 0.94);
}

#invalid-form {
  margin-top:5%;
}
.row.qHeader{
  margin-bottom:2rem;
}
.row.qRow{
  margin-bottom:1.5rem;
}
.firstset h3{
  margin:0;
}

.secondset{
  width: auto;
  margin-left: 60px;
  text-align:center;
}

.middleset{
  /* margin-left: 70px;  */
  text-align:center;
}
.secondset.yes{
  width: 18px;
  height: 20px;
  background-color: rgba(56, 152, 56, 0.7607843137254902);
  border-radius: 100%;
}
.secondset.maybe{
  width: 18px;
  height: 20px;
  background-color: rgba(244, 218, 30, 0.7607843137254902);
  border-radius: 100%;
}
.secondset.no{
  width: 18px;
  height: 20px;
  background-color: rgba(238, 63, 54, 0.7607843137254902);
  border-radius: 100%;
}
#complete{
  text-align: right;
  margin-top: 30px;
  margin-right: 5%;
/*  background-color: #F48024; */
}

/*.modal-title{
  font-family:  Quicksand;
  font-weight: bold;
  font-size: 30px;
}
*/
input[type=checkbox]{
  border-color: orange;
}

/*Address styles*/
.address{
  margin-top: 10px;
  text-align:right;
}

/*Only Used if uncommented in html file.
  .po-box{
  margin-left: 140px;
  line-height: 1.8em;
}*/

.po-box{
  font-size: 14px;
  font-family: Quicksand;
}

.main-info{
  margin-top: 30px;
}

footer{
  width: 70%;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
  padding-top:2%;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  text-align:center;
  padding-bottom:3%;
  font-size:12px;
  color: rgba(0, 0, 0, 0.4);
}
/* media queries */
@media screen and (min-width: 320px) and (max-width: 720px){
  .address{
    text-align:left;
  }
  .survey-wrapper{
    width:90%;
    margin-left:auto;
    margin-right:auto;
  }
  .edu-info{
    text-align:left;
  }
  .select_edu{
    width:300px;
  }
  .middleset{
    margin-left:0;
    text-align:left;
  }
  .middleset h4{
    font-size: 14px;
  }
  .secondset{
    margin-left:0;
    text-align:left;
  }
  .secondset.yes,
  .secondset.neutral,
  .secondset.no{
    text-align: center;
  }
  hr{
    margin-top:0;
  }
  
}